@font-face {
    font-family: face;
    src: url(/assets/fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf);
}

body {
    font-family: face sans-serif;
    margin: 0;
    background-color: #FFFFFF;
}

header {
    border-radius: 5px;
    background: #FFFFFF;
    padding: 20px 0;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.logo-small {
    margin: 0;
    font-size: 1.2em;

    font-family: face;
    font-weight: 400;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.logo-smaller {
    font-family: face;;
    font-weight: 700;
    line-height: 11.13px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.horizontal-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: #4F5665;
}

.horizontal-list > li {
    margin: 0 10px;
}

.horizontal-list > li > a {
    text-decoration: none;
    color: #0B132A;
}

.auth-buttons {
    display: flex;
}

.auth-buttons {
    margin-left: 20px;
}

.btn {
    border: none;
    background: #ffffff;
    font-weight: 700;
}

.btn-1 {
    background-color: #FFFFFF;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.2s;
}

.btn-1:hover {
    background-color: #FFFFFF;
}

.Signup-btn {
    border: #F53855;
    color: #F53855;
}

.Signup-btn:hover {
    background-color: #525d73;
}

@media (max-width: 768px) {
    .container-navigation {
      flex-direction: column;
      align-items: flex-start;
    }
    .nav-links {
        flex-direction: column;
    }      
    li {
          margin: 10px 0;
        }
}      

.container-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 70.47px;
    margin-right: 70.47px;
    padding: 0 20px;
}

header > .navigation {
    display: flex;
    flex-direction: row;
    text-decoration: none;

    width: 31.01px;
    height: 8.93px;
    top: 27.54px;
    left: 254.65px;
    gap: 0px;
    opacity: 0px;
}
            

nav ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

header > nav ul li {
    margin-right: 20px;
    margin-left: 20px;
    list-style-type: none
}

header > nav ul > li a {
    text-decoration: none;
    color: #4F5665;
}

header > nav ul > li span{
    font-size: smaller;
}

header > nav ul .btn {
    width: 70.47px;
    height: 21.14px;
    top: 21.43px;
    left: 535.6px;
    gap: 0px;
    border-radius: 23.49px 0px 0px 0px;
    border: 0.47px 0px 0px 0px;
    opacity: 0px;
    border: 0.47px solid #F53855;
}                       

.container-section {
    padding: 100px 0;
    background-color: white;
    text-align: center;
    margin-left: 86.29px;
    margin-right: 38.99px;
}

.mini-container-section-1 {
    display: flex;
    column-gap: 19.15px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.mini-container-section-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    max-width: 535.6px;
    text-align: center;
    justify-content: center;
    gap: 114.17px;
    margin-right: 38.99px;
    margin-left: 70.47px;
}

.mini-container-section-2:hover {
    border: 0.94px solid #EEEFF2
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.mini-flex-1 {
    width: 6.58px;
    height: 9.4px;
}

.mini-flex-2 > h3 {
    font-family: face;
    font-size: 11.75px;
    font-weight: 700;
    line-height: 14.09px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #0B132A;
}

.mini-flex-2 > p {
    font-family: face;
    font-size: 9.4px;
    font-weight: 400;
    line-height: 14.09px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4F5665;

}

.texts {
    left: 70.47px;
    width: 260.75px;
}

.texts > h1 {
    font-family: face;
    font-size: 23.49px;
    font-weight: 400;
    line-height: 32.89px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #0B132A;
    max-width: 260.75px;
    max-height: 65.78px;
}

.texts > h1 > span {
    font-family: face;
    font-size: 23.49px;
    font-weight: 700;
    line-height: 32.89px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #0B132A;
}

.grey-text {
    font-family: face;
    font-size: 7.52px;
    font-weight: 400;
    line-height: 14.09px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4F5665;
    max-width: 260.75px;
    max-height: 28.19px;
}

.grey-text > span {
    font-family: face;
    font-size: 7.52px;
    font-weight: 400;
    line-height: 14.09px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4F5665;
}

.container-section-1 > p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.btn-2 {
    display: flex;
    background-color: #F53838;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    max-width: 117.46px;
    max-height: 28.19px;
    font-size: 7.52px;
    align-items: center;
    justify-content: center;

    width: 117.46px;
    height: 40.07px;
    left: 70.47px;
    top: 224px;

}

.grid-container {
    margin-top: 50px;
}

.grid-container > img{
    max-width: 500px;
}

.container-section-2 {
    background-color: #FFFFFF;
    padding: 50px 0;
}

.cont {
    text-align: center;
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: 2em;
    margin-bottom: 5px;
}

.two-list {
    display: flex;
    gap: 79.63px;
    margin-left: 86.29px;
}

.two-list > img {
    width: 238.73px;
    height: 194.84px;
}

.two-list-container {
    width: 80%;
    max-width: 960px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: left;
}

.two-list-container > h2 {
    font-family: face;
    font-size: 16.44px;
    font-weight: 400;
    line-height: 23.49px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #0B132A;
    margin-right: 91.37px;
}

.two-list-container > p {
    font-family: face;
    font-size: 7.52px;
    font-weight: 400;
    line-height: 14.09px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4F5665;
    margin-right: 70.47px;
}

.feature-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    
}

.feature-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.feature-list li img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.feature-list li p {
    margin: 0;
    color: #4F5665;
}

.pricing {
    text-align: center;
    padding: 40px 0;
  }
  
.pricing h2 {
    margin-bottom: 20px;
  }
  
.plans {
    display: flex;
    justify-content: space-around;
  }
  
.plan {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    margin: 0 10px;
  }

.plan > img {
      max-width: 100px;
      margin-bottom: 20px;
    }
.plan > ul {
      list-style: none;
      padding: 0;
      .plan > ul > li {
        margin-bottom: 10px;
      }
    }
.plan > .price {
    margin-top: 20px;
}

.Select {
    font-family: face;
    font-size: 4.5px;
    font-weight: 700;
    line-height: 5.34px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background-color: #DDDDDD;

    border: 0.56px solid #F53838;
}
  
.plan button{
    background-color: #DDDDDD;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.free-plan {
    background-color: #f8f9fa;
}   

.free-plan > .price p {
    font-family: face;
    font-size: 7.04px;
    font-weight: 400;
    line-height: 8.44px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #0B132A;;
}
 
.premium-plan {
    border: #F53838;
}

.premium-plan > .price p {
    color: #0B132A;
    font-weight: bold;
}

@media (max-width: 768px){
    .plans {
        flex-direction: column;
    }    
    .plans > .plan {
              margin-bottom: 20px;
          }
}

.global-network {
    text-align: center;
    padding: 40px 0;
  }
  
.global-network h2 {
    margin-bottom: 20px;
  }
  
.map-container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }

.map-container > img {
    max-width: 100%;
    display: block; /
}
  
.logos {
    display: flex;
    justify-content: center;
}

.logos > img {
      width: 50px;
      height: auto;
      margin: 0 10px;
}

@media (max-width: 768px) {
    .map-container {
      width: 90%;
    }
    .logos {
        flex-wrap: wrap;
    }
}

.testimonials {
    text-align: center;
    margin-top: 50px;
  }
  
  .testimonials h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .testimonials p {
    font-size: 1.1em;
    margin-bottom: 40px;
    color: #666;
  }
  
  
  .testimonial-slider {
    display: flex;
    overflow: hidden;
  }
  
  .testimonial {
    flex: 0 0 30%;
    margin: 0 10px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .cover {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .cover-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: baseline;
  }
  
  .testimonial img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  
  .testimonial h3 {
    margin-bottom: 5px;
  }
  
  .testimonial p {
    font-size: 1em;
    line-height: 1.5;
    color: #333;
  }
  
  .rating {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 2.81px;
  }
  
  .rating .star{
      color: #FEA250;
      font-size: 1.2em;
  }
  
  .slider-nav {
    display: flex;
    justify-content: start;
    margin-top: 20px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #dc3545;
    width: 30px;
    border-radius: 5px;
  }
  
  .buttons {
    display: flex;
    gap: 20px;
    text-align: right;
    justify-content: end;
  }
  
  .button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .button.left {
    border: 2px solid #dc3545;
    background-color: white;
    color: #dc3545;
  }
  
  .button.right {
    background-color: #dc3545;
    color: white;
  }
  
  .button:hover {
    background-color: #e06f7d;
  }
  
  .button .arrow{
      font-size: 20px;
  }

  .cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
  }
  
  .cta-content {
    text-align: left;
  }
  
  .cta-content h2 {
    margin: 0 0 10px 0;
    font-size: 2em;
    font-weight: 600;
    color: #333;
  }
  
  .cta-content p {
    font-size: 1em;
    color: #6c757d;
  }
  
  .cta-button {
    background-color: #dc3545;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
  }

  footer {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #f8f9fa;
    color: #333;
  }
  
  .footer-section {
    flex: 1;
    margin: 0 20px;
  }

  .footer-section > p {
    font-family: face;
    font-weight: 400;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4F5665;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
    color: #0B132A;
    font-family: face;
    font-weight: 400;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-section li {
    margin-bottom: 5px;
  }
  
  .footer-section a {
    text-decoration: none;
    color: #555;
  }
  
  .social-icons {
    display: flex;
    margin-bottom: 10px;

    width: 9.46px;
    height: 9.46px;
    top: 1393.94px;
    left: 42.21px;
    gap: 5.63px;
    opacity: 0px;
  }
  
  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
    }
    .footer-section {
      margin: 20px 0;
    }
  }